h2 {
  color: blue;
}

p {
  font-size: 20px;
}

/* em = x times the size of the containing element. (ex p font-size = 20 them 5em = 100px) */
/* rem = times the documents size */
span {
  font-size: 2rem;
}